@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', Arial, sans-serif;
    background: #fff;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}