.SideLeft {
    padding-top: 20px;
    width: 200px;
    position: sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h4 {
    color: #2f2f2f;
}

.Logo {
    padding-left: 10px;
    transition: 0.5s;
}
.Logo img:hover {
    opacity: 90%;
    cursor: pointer;
} 

.Menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.menu-item svg {
    margin-right: 10px;
}

.menu-item svg:hover {
    color: #38BAAA;
}

.menu-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    align-items: center;
    padding: 10px;
    transition: 0.4s;
}

.menu-item:hover {
    transition: 0.2s;
    background-color: #EAEAEA;
    border-radius: 50px;
    cursor: pointer;
}

.menu-item span {
    margin-left: 8px;
    font-size: 20px;
    color: #2F2F2F;
    font-weight: 500;
}

.header {
    padding-top:20px;
    padding-left:20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
    position: sticky;
    top: 0px;
    background-color: #fff;
}

.Busca {
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 200px;
    background-color: #EAEAEA;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
    position: sticky;
    top: 10px;
}

.Busca svg {
    padding-left:10px;
}
.Busca input {
    border: none;
    background-color: transparent;
    font-family: Roboto;
    font-size: 14px;
    width: 100%;
    height: 18px;
    margin-left:10px;
}

.Busca input:focus {
    background-color: transparent;
    outline: none;
    opacity: 70%;
}

.Busca:focus {
    border: 1px solid #38BAAA;
}